# Virtual environment
.venv/
venv/
env/

# Delta table data
delta/

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Spark
spark-warehouse/
metastore_db/
derby.log

# Jupyter
.ipynb_checkpoints/
# *.ipynb


# Environment variables
.env

# Java
*.class
*.jar

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db